<%= form_for @case do |form| %>
  <% if @case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@case.errors.count, "error") %> prohibited this case from being saved:</h2>

      <ul>
        <% @case.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, ['m', 'w', 'd'], :promt => 'Select one' %>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_select :birthdate,:start_year => 1930, :end_year => 2010%>
  </div>

  <div class="field">
    <%= form.label :place_of_residence %>
    <%= form.text_field :place_of_residence %>
  </div>

  <div class="field">
    <%= form.label :diagnosis %>
    <%= form.collection_select :diagnosis_id, Diagnosis.all, :id, :illness, :prompt => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
