<h1>Diagnoses</h1>

<div class="table-responive" style="height: 500px !important; overflow: scroll;">
  <table class="table table-striped">
    <thead style="position: sticky; top: 0; background: white;">
      <tr>
        <th scope="col">Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @diagnoses.each do |diagnosis_data| %>
        <tr>
          <td><%= diagnosis_data.illness %></td>
          <td><%= link_to 'All Cases', cases_diagnosis_path(diagnosis_data) %></td>
          <td><%= link_to 'Show', diagnosis_path(diagnosis_data) %></td>
          <td><%= link_to 'Edit', edit_diagnosis_path(diagnosis_data) %></td>
          <td><%= link_to 'Destroy',diagnosis_data ,method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>

        </tr>
    </tbody>
  </table>
</div>
