<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @district.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @district.place %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @district.postal_code %>
</p>

<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Back', districts_path %>
