<div class="jumbotron">
  <div class="container">
    <h2>Willkommen <small class="text-muted">bei InfectData</small></h2>
    <% t = Time.now %>
    <% if t >= 12%>
        <p><%= 'Guten Abend,'%> <%= current_user.first_name %> <%= current_user.last_name %>.
      <% else %>
          <%= 'Guten Tag,'%> <%= current_user.first_name %> <%= current_user.last_name %>.
    <% end %><br>
    <small>Ihre Rolle: "<%= current_user.role %>".</small></p>
  </div>
</div>
