<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap" rel="stylesheet">
</head>

<div class="jumbotron">
  <div class="container">
    <h2>Willkommen <small class="text-muted">bei InfectData</small></h2>
    <% t = Time.now %>
    <% if t >= 12%>
        <p><%= 'Guten Abend,'%> <%= current_user.first_name %> <%= current_user.last_name %>.
      <% else %>
          <%= 'Guten Tag,'%> <%= current_user.first_name %> <%= current_user.last_name %>.
    <% end %><br>
    <small>Ihre Rolle: "<%= current_user.role %>".</small></p>
  </div>
</div>
