<div class="jumbotron">
  <div class="container">
    <h2>Welcome <small class="text-muted">to InfectData</small></h2>
    <% t = Time.now %>
    <% if t >= 12%>
        <p><%= 'Good evening,'%> <%= current_user.first_name %> <%= current_user.last_name %>.
      <% else %>
          <%= 'Hello,'%> <%= current_user.first_name %> <%= current_user.last_name %>.
    <% end %><br>
    <small>Your Role: "<%= current_user.role %>".</small></p>
  </div>
</div>
